@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Moirai+One&family=Quicksand:wght@400;500&display=swap');

@font-face{
    src: url(../media/fonts/Babelgam.ttf);
    font-family: babelgam;
}

@font-face{
    src: url(../media/fonts/BUMBASTIKA.TTF);
    font-family: bumbastika;
}

@font-face{
    src: url(../media/fonts/RialtoNF.otf);
    font-family: RialtoNF;
}

@font-face{
    src: url(../media/fonts/GloriaHallelujah-Regular.ttf);
    font-family: Gloria;
}

body{
    background-color: aliceblue;
    background-size: 1450px;
background-repeat: no-repeat;
position: relative;
background-position: center;
    }


h1{
    text-align: center;

}

h3{
    font-family: Gloria;
    position: relative;
    position: bottom;

}



/* VERTICAL NAV MENU STYLING */
/*
.menu ul{
list-style-type: none;
background-color: dodgerblue;
width: 115px;
}
/*
.menu li a{
    display: block; 
   color: lightgreen;
   padding-right: 16px;
   padding-top: 16px;
   padding-bottom: 16px;
   text-decoration: none;
   text-align: center;
}

/* change the link color on hover */
/*
.menu li a:hover{
  background-color: aqua;  
  color: beige;
}

/* HORIZONTAL NAV MENU STYLING */


*{
    margin: 0;
    padding: 0%;
}
.menu ul{
    list-style-type: none;
    background-color: navy;
    overflow: hidden;

}

.menu li{
    float: left;
}

.menu li a{
    display: block;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover{
    background-color: steelblue;
}

.menu li{
    font-family: bumbastika;
    padding-top: 10px;
    padding-left: 20px;
}

p{
    font-family: gloria;
    color: white;
    position: bottom;
    background-color: navy;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 600px;
    width: 15%;
 }





