@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Moirai+One&family=Quicksand:wght@400;500&display=swap');

@font-face{
    src: url(../media/fonts/BUMBASTIKA.TTF);
    font-family: bumbastika;
}

@font-face{
    src: url(../media/fonts/RialtoNF.otf);
    font-family: RialtoNF;
}

@font-face{
    src: url(../media/fonts/GloriaHallelujah-Regular.ttf);
    font-family: Gloria;
}

*{
    margin: 0;
    padding: 0%;
}

.menu ul{
    list-style-type: none;
    background-color: navy;
    overflow: hidden;

}

.menu li{
    float: left;
}

.menu li a{
    display: block;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover{
    background-color: steelblue;
}

body{
    background-color: aliceblue;
    background-size: 1450px;
background-repeat: no-repeat;
position: relative;
background-position: center;

    
    
    
    }

 .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative;
    width: 10%;
 }

 .menu li{
    font-family: bumbastika;
    padding-top: 10px;
    padding-left: 20px;
}

h1{
    text-align: center;
    color: white;
    font-family: gloria;
}

p{
font-family: gloria;
color: white;
background-color: navy;
}

.puffle{
    display: inline-block;
    margin-top: ;
    margin-left: 600px;
    margin-bottom: ;
    margin-right: 80px;
    position: relative;
 width: 10%;
 }


 .penguin{
    display: block;
    margin-top: 100px;
    margin-left: 550px;
    width: 15%;
    position: relative;
 }

