@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Moirai+One&family=Quicksand:wght@400;500&display=swap');




*{
    margin: 0;
    padding: 0%;
}

.menu ul{
    list-style-type: none;
    background-color: navy;
    overflow: hidden;

}

.menu li{
    float: left;
}

.menu li a{
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover{
    background-color: lightsalmon;
}